<div class="row">
  Tabla de ...
<!--  <div class="col-12 table-responsive">-->

<!--    <table mat-table [dataSource]="dataSource" matSort #funcionariosSort="matSort" class="table-striped table-hover">-->

<!--      <tr>-->
<!--        &lt;!&ndash; RFC Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="rfc">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> RFC </th>-->
<!--          <td mat-cell *matCellDef="let element"> <h3>{{element.rfc}}</h3> </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Name Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="name">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre funcionario </th>-->
<!--          <td mat-cell *matCellDef="let element"> <h3>{{element.nombre}}</h3> </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Area Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="area">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header>Área  </th>-->
<!--          <td mat-cell *matCellDef="let element"> <h3>{{element.area}}</h3> </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; roles Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="roles">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> Roles </th>-->
<!--          <td mat-cell *matCellDef="let element">-->
<!--            <ng-container *ngFor="let rol of element.usuario.roles">-->
<!--              &lt;!&ndash; <h3 *ngIf="funcionariosService.isRolInThisPortal(rol.nombre)">{{ rol.nombre }}</h3> &ndash;&gt;-->
<!--            </ng-container>-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="estatus">-->
<!--          <th mat-header-cell *matHeaderCellDef> Acciones </th>-->

<!--          <td mat-cell *matCellDef="let element" >-->
<!--            Icono-->
<!--          </td>-->
<!--        </ng-container>-->


<!--      </tr>-->
<!--      <tr class="mat-row" *matNoDataRow>-->
<!--        <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">-->
<!--          No hay funcionarios para mostrar.-->
<!--        </td>-->
<!--      </tr>-->

<!--      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--    </table>-->
<!--    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selecciona el tamaño de la página"></mat-paginator>-->
<!--  </div>-->
</div>
